<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VueJS Tutorials</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div id="vue-app">
      <h1>Conditionals</h1>
      <ul>
        <li v-for="(character, index) in characters">{{ index }}. {{ character }}</li>
      </ul>
      <ul>
        <li v-for="(ninja, index) in ninjas">{{ index }}. {{ ninja.name }} - {{ ninja.age }}</li>
      </ul>
      <template v-for="(ninja, index) in ninjas">
        <h3>{{ index }}. {{ ninja.name }}</h3>
        <p>{{ ninja.age }}</p>
      </template>
      <template v-for="ninja in ninjas">
        <div v-for="(val,key) in ninja">
          <p>{{ key }} - {{ val }}</p>
        </div>
      </template>

    </div> <!-- /vue-app -->

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/app.js"></script>
  </body>
</html>
